<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>Vue 测试实例 - 菜鸟教程(runoob.com)</title>
		<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
		<script src="js/vue.min.js"></script>
		<style type="text/css">
			body {
				font-size: 16px;
			}
			
			v-template {
				display: none;
			}
			
			iafter {
				display: inline-block;
				width: 16px;
				height: 16px;
			}
			
			input+iafter {
				background: #0077FF;
			}
			
			input:checked+iafter {
				background: #0000FF;
			}
			
			h4 {
				color: #FF0000;
			}
			
			ul {
				overflow: hidden;
			}
			
			li {
				float: left;
				margin-left: 20px;
			}
		</style>
	</head>

	<body>
		<p>
			<a href="#1">文本</a>
			<a href="#2">Html</a>
			<a href="#3">属性</a>
			<a href="#4">表达式</a>
			<a href="#5">指令</a>
			<a href="#6">if-for</a>
			<a href="#7">回调方法</a>
			<a href="#8">组件/组件通信</a>
			<a href="#" style="position: fixed;right: 10px;top: 10px;">返回顶部</a>
		</p>
		<div id="app-0">
			<h4 id="1">文本</h4>
			<p>{{ message }}</p>
			<p v-text="message"></p>
			<h4 id="2">Html</h4>
			<p v-html="message"></p>
			<h4 id="3">属性</h4>
			<p>HTML 属性中的值应使用 v-bind 指令。 以下实例判断 class1 的值，如果为 true 使用 class1 类的样式，否则不使用该类</p>
			<p><label>修改颜色↓<input type="checkbox"  v-model="class1"/></label></p>
			<div v-bind:class="{bg444: class1}" v-bind:text="text">
				directiva v-bind:{{class1}}
			</div>
			<h4 id="4">表达式</h4>
			<p>{{5+5}};{{ ok ? 'YES' : 'NO' }};{{ message.split('').reverse().join('') }}</p>
			<h4 id="5">指令</h4>
			<p>是带有 v- 前缀的特殊属性。指令用于在表达式的值改变时，将某些行为应用到 DOM 上。</p>
			<p v-if="seen" @click="ok=!ok">现在你看到我了：：：点击改变↓</p>
			<template v-if="ok">
				<p>哈哈啥，打字辛苦啊！！！</p>
			</template>
			<select v-model="selectv">
				<option value="1">163.com</option>
				<option value="2">163.net</option>
				<option value="3">126.com</option>
			</select>
		</div>

		<script>
			var vm0 = new Vue({
				el: '#app-0',
				data: {
					message: '<span>Hello Vue.js!</span>',
					class1: false,
					text: '属性',
					ok: true,
					seen: true,
					selectv: 2
				}
			})
		</script>
		<style type="text/css">
			.bg444 {
				background: #444;
				color: #eee;
			}
		</style>

		<div id="app-1">
			<h4 id="6">v-if 指令</h4> 在元素 和 template 中使用 v-if 指令：<br />
			<p v-if="seen">现在你看到我了<label>修改↓<input type="checkbox"  v-model="ok"/></label></p>
			<template v-if="ok">
				<p>哈哈啥，打字辛苦啊！！！<label>修改↑<input type="checkbox"  v-model="ok"/></label></p>
			</template>
			<template v-else>
				<p>可以用 v-else 指令给 v-if 添加一个 "else" 块<br />v-else-if 在 2.1.0 新增，顾名思义，用作 v-if 的 else-if 块。可以链式的多次使用</p>
			</template>
			<h4>v-for 指令</h4>循环使用 v-for 指令。 v-for 指令需要以 item in items 形式的特殊语法， items 是源数据数组并且 item 是数组元素迭代的别名。<br /><br />
			<button v-on:click="sites.push({name:'增加'})">增加↓</button>
			<button v-on:click="sites.pop()">减少↓</button>
			<ul>
				<li v-for="site in sites">
					{{ site.name }}
				</li>
			</ul>
			<b>v-for 迭代对象</b>
			<ul>
				<li v-for="value in object">
					{{ value }}
				</li>
			</ul>
			<b>v-for 迭代对象--你也可以提供第二个的参数为键名：</b>
			<ul>
				<li v-for="(value, key) in object">
					{{ key }} :: {{ value }}
				</li>
			</ul>
			<b>第三个参数为索引：</b>
			<ul>
				<li v-for="(value, key, index) in object">
					{{ index }}. {{ key }} : {{ value }}
				</li>
			</ul>
			<b>v-for 也可以循环整数(循环sites前两个)</b>
			<div id="app">
				<ul>
					<li v-for="n in 2">
						{{ n }} : {{sites[n]['name']}}
					</li>
				</ul>
			</div>
		</div>

		<script>
			var vm1 = new Vue({
				el: '#app-1',
				data: {
					seen: true,
					ok: false,
					sites: [{
							name: 'Runoob'
						},
						{
							name: 'Google'
						},
						{
							name: 'Taobao'
						}
					],
					object: {
						name: '菜鸟教程',
						url: 'http://www.runoob.com',
						slogan: '学的不仅是技术，更是梦想！'
					}
				}
			})
		</script>

		<div id="app-2">
			<h4 id="7">回调方法</h4>
			<div class="soubox">
				<p><span>计算后反转字符串:{{showitV}}</span></p>
				<p><span>使用方法后反转字符串:{{showitV2()}}</span></p>
				<button class="showsearch" @click="showsou">搜索</button>
				<button class="closesou" @click="hidesou">X</button>
				<div class="sou" style="height: 30px;">
					<input type="text" id="keywords" v-show="showit">
				</div>
			</div>
			<select v-model="selectv">
				<option v-bind:value="site.value" v-for="site in sites" v-text="site.name"></option>
			</select>
		</div>

		<script>
			var vm2 = new Vue({ /*这之间的实例化的this都指向vm4*/
				el: '#app-2',
				data: {
					showit: false,
					message: '123456',
					selectv: 1,
					sites: [{
						value: 1,
						name: '1111'
					}, {
						value: 2,
						name: '2222'
					}, {
						value: 3,
						name: '3333'
					}]
				},
				//类似于回调函数(初次实例化完成后调用)
				mounted: function() {
					if(this.showit) {
						$(this.$el).find('#keywords').trigger("focus");
					}
				},
				//数据更改后调用
				watch: {
					showit: function(newV, oldV) {
						if(this.showit) {
							//DOM 更新完后调用,否则会找不到节点
							this.$nextTick(function() {
								$(this.$el).find('#keywords').trigger("focus");
							})
						}
					},
					selectv: function(newV, oldV) {
						console.log(newV, oldV, this.sites)
					}
				},
				computed: { // 计算属性(根据依赖的变化而执行变化,必须在实例中用到这个组件)
					showitV: function() { //showitV 依赖于 message，在 message 发生改变时，showitV 也会更新。
						return this.message.split('').reverse().join('');
					}
				},
				//实例化后绑定事件/方法
				methods: {
					showsou: function() {
						this.showit = true;
						this.message = parseInt(Math.random() * 100000).toString();
					},
					hidesou: function() {
						this.showit = false
					},
					showitV2: function() { //我们可以使用 methods 来替代 computed，效果上两个都是一样的，但是 computed 是基于它的依赖缓存，只有相关依赖发生改变时才会重新取值。而使用 methods ，在重新渲染的时候，函数总会重新调用执行。可以说使用 computed 性能会更好，但是如果你不希望缓存，你可以使用 methods 属性。
						return this.message.split('').reverse().join('');
					}
				},
			});
		</script>
		<!--注册全局组件-->
		<script type="text/x-template" id="hello-world-template">
			<h3 style="color: red;">Hello hello hello(官方提供的非大文件组件)</h3>
		</script>
		<v-template>
			<template id="template-1">
				<div>
					<span style="color: red;">注册全局组件</span>
					<input type="checkbox" v-bind:name="name?name:''" v-bind:checked="checked" v-bind:id="id" v-bind:value="value" v-on:click="Pclick" style="display: none;" />
					<iafter></iafter>
					<span v-text="text"></span>
					<button v-on:click="counter += 1;">{{ counter }}</button>
				</div>
			</template>
			<script>
				//组件与父级通信
				Vue.component('checkbox', {
					data: function() {
						return {
							counter: 0
						}
					},
					//声明props(可传递数据)
					props: ['id', 'name', 'checked', 'value', 'text'],
					//同样也可以在 vm 实例中像 "this.message" 这样使用 
					template: document.getElementById('template-1').innerHTML,
					methods: {
						//父组件是使用 props 传递数据给子组件，但如果子组件要把数据传递回去，就需要使用自定义事件！
						Pclick: function() {
							var n = '回传值';
							this.$emit('click', n);
						}
					},
				});
				Vue.component('hello-world', {
					template: '#hello-world-template'
				})
			</script>

			<style>

			</style>
		</v-template>

		<!--注册局部组件-->
		<v-template>
			<template id="template-A">
				<div>
					<span>我是A组件的数据->{{a}}</span>
					<input type="button" value="把A数据传给B" @click="send">
				</div>
			</template>
			<template id="template-B">
				<div>
					<h3>我是B组件-->接收过来A的数据为: {{a}}</h3>
				</div>
			</template>
			<script>
				//准备一个空的实例对象
				var A2B = new Vue();
				//组件A
				var A = {
					template: document.getElementById('template-A').innerHTML,
					methods: {
						send: function() {
							A2B.$emit("a-msg", this.a); //将值传给空的实例对象
						}
					},
					data: function() {
						return {
							a: "我是a组件中数据"
						}
					}
				};
				//组件B
				var B = {
					template: document.getElementById('template-B').innerHTML,
					//钩子,类似于回调函数(实例化完成后调用)
					mounted: function() {
						//接收A组件的数据
						A2B.$on("a-msg", function(a) { //从空的实例对象获取数据
							this.a = a;
						}.bind(this));
					},
					data: function() {
						return {
							a: ""
						}
					}
				};
			</script>
		</v-template>
		<div id="app-3">
			<hello-world></hello-world>
			<h4 id="8">组件/组件通信</h4>
			<!--父组件是使用 props 传递数据给子组件，但如果子组件要把数据传递回去，就需要使用自定义事件！-->
			<p>
				<label><checkbox name="checkbox-name" checked="checked" id="checkbox-id" value="01" v-bind:text="text" v-on:click="emitClick"></checkbox>复选1</label>
				<label><checkbox name="checkbox-name" id="checkbox-id" value="02" v-model="ok"></checkbox>复选2{{ok}}</label>
				<input type="checkbox" value="04" v-model="ok" />
				<input type="radio" name="" id="" value="03" v-model="ok" />
			</p>
			<dom-a></dom-a>
			<dom-b></dom-b>
		</div>
		</div>
		<script type="text/javascript">
			var vm3 = new Vue({
				el: '#app-3',
				components: { //局部组件
					"dom-a": A,
					"dom-b": B
				},
				data: {
					text: '传递值',
					ok: '03',
				},
				methods: {
					emitClick: function(n) {
						console.log(n)
						//父组件是使用 props 传递数据给子组件，但如果子组件要把数据传递回去，就需要使用自定义事件！
						alert('通过父组件触发子组件的点击事件(父组件有事件就传递过来,没有就不绑定)');
					}
				}
			});
			setTimeout(function() {
				vm3.text = '>>改变父级值传递给子级'
			}, 2000);
		</script>

	</body>

</html>